.footer-wrap {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
}

.footer-item {
    margin: 10px;
    cursor: pointer;
}

.footer-current-item {
    color: red;
}
